extends ../layout

block content
  section.container
    h1.text-center= photo.id
    .row
      .col-12.card
        img(class='card-img-top', src=photo.url, alt=photo.id)
        .card-body
          button(type='button', class='btn btn-primary')
            | Likes
            span.badge.badge-light= photo.likes
          .d-flex.justify-content-between
            form(class='form-inline justify-content-center', action='/photos/' + photo.id + '?_method=PUT' method='post')
              label(class='sr-only', for='picUrl') Edit Url
              input(type='text', name='url', class='form-control mb-2 mr-sm-2', id='picUrl', placeholder='Edit Photo Url')
              button(type='submit', class='btn btn-warning mb-2') Submit
            form(class='form-inline', action='/photos/' + photo.id + '?_method=DELETE', method='post')
              button(type='submit', class='btn btn-danger mb-2') Delete