$white: #fff;
$gray-100: #d1d2d7;
$gray-200: #babcc3;
$gray-300: #a3a6af;
$gray-400: #8c909b;
$gray-500: #767a87;
$gray-600: #5f6473;
$gray-700: #484e5f;
$gray-800: #31384b;
$gray-900: #1a2237;
$black: #040c24;

$blue: #3a4c7a;
$cyan: #247ba0;
$teal: #0e7c7b;
$green: #53dd6c;
$pink: #ed254e;
$red: #e63946;
$orange: #fc7753;
$yellow: #f9dc5c;
$teal: #0e7c7b;
$purple: #320e3b;


@import 'reset';

@mixin primary-btn {
  color: $white;
  border: none;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin-top: 60px;
  font-size: 1rem;
  line-height: 1.5;
  background-color: $white;
  color: $black;
}

a {
  transition: all 0.2s ease;
  color: $gray-400;
  
  &:hover {
    color: $gray-900;
  }
}

.logo {
  color: $black;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn {
  padding: 0 0.75rem;
  font-size: 1rem;
  line-height: 1;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  border-radius: 0.25rem;
  border: 1px solid $gray-400;
  color: $gray-400;
}

.header {
  background-color: $white;
  width: 100%;
  
  @media (min-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    min-height: 60px;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
  }
}

.mobilenav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  min-height: 60px;
  width: 100%;
  background-color: $white;
  
  &__links {
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.navbar {
  
  &__links {
    display: flex;
    justify-content: space-around;
  }
  
  &__item {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    
    &:last-of-type {
      margin-right: 0;
    }
  }
  
  &__btn--primary {
    @include primary-btn;
    background: $green;
    
    &:hover {
      background: darken($green, 20%);
    }
  }
}

.authbar {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  box-shadow: inset 0px -2px 2px -1px rgba(0,0,0,0.1);
  
  &__btn {
    width: 45%;
    flex: 0 1 auto;
    
    &:hover {
      color: $gray-900;
      border-color: $gray-900;
    }
  }
  
  &__btn--primary {
    @include primary-btn;
    background-color: $green;
    
    &:hover {
      background: darken($green, 20%);
      color: $white;
    }
  }
}

.hero {
  margin-bottom: 3rem;
  position: relative;
  
  &__pic {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  
  &__header {
    position: relative;
    margin: 0 auto;
    padding: 10rem .75rem;
    
    @media (min-width: 768px) {
      padding-top: 14rem;
      padding-bottom: 16rem;
      width: 66.67%;
    }
  }
  
  &__header h1 {
    color: $white;
    font-size: 2rem;
    line-height: 1.25;
    margin-bottom: 1rem;
    font-weight: 700;
    
    @media (min-width: 768px) {
      font-size: 3rem;
      line-height: 1.2;
    }
  }
  
  &__header p {
    color: $white;
    
    @media (min-width: 768px) {
      font-size: 1.25rem;
    }
  }
}

.photos {
  @media (min-width: 768px) {
    width: 100%;
    padding: 0 0.75rem;
    column-count: 2;
    column-gap: 1.5rem;
  }
  
  @media (min-width: 1000px) {
    column-count: 3;
  }
}

.photocard {

  &__creator {
    
  }
  
  &__link {
    display: block;
    min-height: 0;
  }
  
  &__img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  &__likes {
    
  }
}

.photo {
  margin-bottom: 1.5rem;
  
  &__link {
    display: block;
    position: relative;
    cursor: zoom-in;
  }
  
  &__img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.2s ease;
    
    &:hover {
      opacity: 1;
    }
  }
  
  &__btn {
    font-size: 0.875rem;
    background: $gray-200;
    border: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    color: $gray-700;
    
    &:hover {
      background: $white;
    }
  }
  
  &__creator {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: $gray-200;
  }
}

.form {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  
  @media (min-width: 768px) {
    width: 50%;
  }
  
  &__logo {
    font-size: 2rem;
  }
  
  &__header {
    color: $black;
    margin: 0.5rem 0;
    font-size: 2rem;
  }
  
  &__subheader {
    margin: 0 0.25rem;
  }
  
  &__alert {
    width: 75%;
    margin: 1rem auto;
    border-radius: 0.25rem;
    border: 1px solid $gray-400;
    color: $gray-900;
    padding: 0.5rem;
    text-align: center;
    
    &--danger {
      border-color: $red;
      color: $red;
      background-color: rgba($red, 0.2);
    }
  }
  
  &__group {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }
  
  &__label {
    color: $black;
    margin-bottom: 0.5rem;
  }
  
  &__input {
    background: inherit;
    border: 1px solid $gray-400;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    color: $gray-900;
    transition: border 0.2s ease;
    margin-bottom: 0.25rem;
    
    &:focus {
      border: 1px solid $gray-900;
    }
  }
  
  &__text {
    font-size: 0.75rem;
    text-transform: uppercase;
    height: 1.125rem;
    
    &--danger {
      color: $red;
    }
  }
  
  &__link {
    width: 75%;
    margin: 0 auto;
    margin-top: 0.25rem;
    font-size: 0.875rem;
    
    &--center {
      text-align: center;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }
  
  &__btn {
    width: 75%;
    height: 2.25rem;
    background: $black;
    border: none;
    color: $white;
    cursor: pointer;
    
    &:disabled {
      background: $gray-600;
      color: $gray-100;
      cursor: default;
    }
  }
  
  &__message {
    color: $black;
    margin: 1rem;
    margin-bottom: 0.5rem;
  }
}