$white: #fff;
$gray-100: #d1d2d7;
$gray-200: #babcc3;
$gray-300: #a3a6af;
$gray-400: #8c909b;
$gray-500: #767a87;
$gray-600: #5f6473;
$gray-700: #484e5f;
$gray-800: #31384b;
$gray-900: #1a2237;
$black: #040c24;

$blue: #3a4c7a;
$cyan: #247ba0;
$teal: #0e7c7b;
$green: #53dd6c;
$pink: #ed254e;
$red: #e63946;
$orange: #fc7753;
$yellow: #f9dc5c;
$teal: #0e7c7b;
$purple: #320e3b;


@import 'reset';

@mixin primary-btn {
  color: $white;
  border: none;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin-top: 60px;
  font-size: 1rem;
  line-height: 1.5;
  background-color: $white;
  color: $black;
  height: 100%;
}

a {
  transition: all 0.2s ease;
  color: $gray-400;
  
  &:hover {
    color: $gray-900;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding: 0;
}

.logo {
  color: $black;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn {
  padding: 0 0.75rem;
  font-size: 1rem;
  line-height: 1;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  border-radius: 0.25rem;
  border: 1px solid $gray-400;
  color: $gray-400;
  cursor: pointer;
  background-color: inherit;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  
  &__icon {
    display: inline-block;
    margin-right: 0.5rem;
    
    &--heart {
      fill: $pink;
      stroke: $pink;
      width: 1rem;
      position: relative;
      top: 1px;
    }    
  }
}

.header {
  background-color: $white;
  width: 100%;
  
  @media (min-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    min-height: 60px;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
  }
}

.mobilenav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  min-height: 60px;
  width: 100%;
  background-color: $white;
  
  &__links {
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  & button {
    color: $gray-400;
    transition: color 0.2s ease;
    
    &:hover {
      color: $gray-900;
    }
  }
}

.navbar {
  
  &__links {
    display: flex;
    justify-content: space-around;
  }
  
  &__item {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    
    &:last-of-type {
      margin-right: 0;
    }
  }
  
  &__upload {
    display: flex;
    align-items: center;
    color: $gray-400;
    padding: 0;
    
    &:hover {
      color: $gray-900;
    }
    
    & svg {
      margin-left: 0.25rem;
    }
  }
  
  &__btn--primary {
    @include primary-btn;
    background: $green;
    
    &:hover {
      background: darken($green, 20%);
      color: $white;
    }
  }
}

.activelinks {
  color: $gray-900;
}

.authbar {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  box-shadow: inset 0px -2px 2px -1px rgba(0,0,0,0.1);
  
  &__btn {
    width: 45%;
    flex: 0 1 auto;
    
    &:hover {
      color: $gray-900;
      border-color: $gray-900;
    }
  }
  
  &__btn--primary {
    @include primary-btn;
    background-color: $green;
    
    &:hover {
      background: darken($green, 20%);
      color: $white;
    }
  }
}

.hero {
  margin-bottom: 3rem;
  position: relative;
  
  &__pic {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  
  &__header {
    position: relative;
    margin: 0 auto;
    padding: 10rem .75rem;
    
    @media (min-width: 768px) {
      padding-top: 14rem;
      padding-bottom: 16rem;
      width: 66.67%;
    }
  }
  
  &__header h1 {
    color: $white;
    font-size: 2rem;
    line-height: 1.25;
    margin-bottom: 1rem;
    font-weight: 700;
    
    @media (min-width: 768px) {
      font-size: 3rem;
      line-height: 1.2;
    }
  }
  
  &__header p {
    color: $white;
    
    @media (min-width: 768px) {
      font-size: 1.25rem;
    }
  }
}

.photos {
  @media (min-width: 768px) {
    width: 100%;
    padding: 0 0.75rem;
    column-count: 2;
    column-gap: 1.5rem;
  }
  
  @media (min-width: 1000px) {
    max-width: 1300px;
    margin: 0 auto;
    column-count: 3;
  }
}

.photocard {
  margin-bottom: 3rem;

  &__top {
    margin: 0 1rem 1rem;
    color: $gray-900;
  }
  
  &__link {
    display: block;
    min-height: 0;
  }
  
  &__img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  &__bottom {
    margin: 1rem 1rem 0;
    display: flex;
  }
}

.photoitem {
  margin-bottom: 1.5rem;
  position: relative;
  
  &:hover &__overlay {
    opacity: 1;
  }
  
  &__link {
    display: block;
    position: relative;
    cursor: zoom-in;
  }
  
  &__img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
  }
  
  &__btn {
    font-size: 0.875rem;
    background: $gray-200;
    border: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    color: $gray-700;
    pointer-events: auto;
    
    &:hover {
      background: $white;
    }
    
    &--liked {
      background: $pink;
      color: $white;
      
      &:hover {
        background: lighten($pink, 5%);
        color: $white;
      }
      
      & svg {
        fill: $white;
      }
    }
  }
  
  &__creator {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: $gray-200;
  }
}

%remove-exes {
  content: '';
  position: absolute;
  height: 0.125rem;
  width: 50%;
  background-color: $white;
  top: 45%;
  display: block;
  transform-origin: 50%;
}

.form {
  background-color: $white;
  border-radius: 0.25rem;
  padding-bottom: 4rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  pointer-events: auto;
  
  @media (min-width: 768px) {
    width: 60%;
  }
  
  &__logo {
    font-size: 2rem;
    margin-top: 2rem;
  }
  
  &__header {
    color: $black;
    margin: 0.5rem 0;
    font-size: 2rem;
  }
  
  &__subheader {
    margin: 0 0.25rem;
  }
  
  &__alert {
    width: 75%;
    margin: 1rem auto;
    border-radius: 0.25rem;
    border: 1px solid $gray-400;
    color: $gray-900;
    padding: 0.5rem;
    text-align: center;
    
    &--danger {
      border-color: $red;
      color: $red;
      background-color: rgba($red, 0.2);
    }
  }
  
  &__form {
    width: 100%;
  }
  
  &__group {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }
  
  &__label {
    color: $black;
    margin-bottom: 0.5rem;
  }
  
  &__input {
    background: inherit;
    border: 1px solid $gray-400;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    color: $gray-900;
    transition: border 0.2s ease;
    margin-bottom: 0.25rem;
    
    &:focus {
      border: 1px solid $gray-900;
    }
  }
  
  &__text {
    font-size: 0.75rem;
    text-transform: uppercase;
    height: 1.125rem;
    
    &--danger {
      color: $red;
    }
  }
  
  &__link {
    margin: 0.25rem auto 0 calc(25%/2);
    font-size: 0.875rem;
    
    &--center {
      text-align: center;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }
  
  &__btn {
    width: 75%;
    height: 2.25rem;
    background: $black;
    border: none;
    color: $white;
    cursor: pointer;
    margin: 0 auto;
    
    &:disabled {
      background: $gray-600;
      color: $gray-100;
      cursor: default;
    }
    
    &--upload {
      width: auto;
      margin: 0;
    }
  }
  
  &__message {
    color: $black;
    margin: 1rem;
    margin-bottom: 0.5rem;
  }
  
  &__upload {
    width: 26rem;
    height: 29.25rem;
    padding: 1.5rem;
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
  }
  
  &__cutout {
    border: 0.125rem dashed $gray-400;
    width: 100%;
    height: calc(100% - 3.25rem);
    position: relative;
  }
  
  &__uplabel {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 4rem 0;
    transition: all 0.2s ease;
    
    &:hover {
      background-color: $gray-100;
    }
    
    & input {
      display: none;
    }
    
    & .btn {
      background-color: $white;
    }
  }
  
  & svg {
    width: 10rem;
    height: 10rem;
    fill: $blue;
    margin-bottom: 1rem;
  }
  
  &__foot {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__progress {
    margin-right: 2rem;
    width: 100%;
    border-radius: 0.25rem;
    background-color: $gray-100;
    height: 1rem;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  &__progressbar {
    height: 100%;
    background-color: $green;
    border-radius: 0.25rem;
  }
  
  &__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  &__remove {
    width: 2rem;
    height: 2rem;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 100%;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    
    &:before {
      @extend %remove-exes;
      transform: rotate(45deg);
    }
    
    &:after {
      @extend %remove-exes;
      transform: rotate(135deg);
    }
    
    &:hover {
      background-color: rgba(0,0,0,0.75);
    }
  }
}

.photo {
  width: 100%;
  background: $white;
  border-radius: 0.25rem;
  pointer-events: auto;
  
  &__top {
    padding: 0.5rem 1rem;
    color: $gray-900;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
    @media (min-width: 768px) {
      padding: 0.5rem 1.75rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  &__user {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0.5rem 0;
  }
  
  &__btn {
    margin: 0.5rem 0;
    color: $gray-400;
    border-color: $gray-200;
    
    &:hover {
      border-color: $gray-900;
      color: $gray-900;
    }
    
    &--danger {
      border-color: $red;
      color: $red;
      background-color: rgba($red, 0.2);
      
      &:hover {
        background-color: $red;
        color: $white;
      }
    }
    
    &--liked {
      background: $pink;
      color: $white;
      border: none;
      
      &:hover {
        background: lighten($pink, 5%);
        color: $white;
      }
      
      & svg {
        fill: $white;
      }
    }
  }
  
  &__img {
    width: 100%;
    height: auto;
    display: block;
    
    @media (min-width: 768px) {
      width: 50%;
      margin: 0 auto;
    }
  }
  
  &__bottom {
    padding: 0.5rem 1rem 2rem;
    
    @media (min-width: 768px) {
      padding-left: 1.75rem;
      padding-right: 1.75rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.upload {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  background-color: $white;
  display: flex;
  flex-direction: column;
  
  @media (min-width: 768px) {
    top: 4.5rem;
    right: 2rem;
    bottom: auto;
    left: auto;
    border-radius: 0.25rem;
    z-index: 1;
    box-shadow: 0 4px 16px rgba(0,0,0,.12), 0 0 4px rgba(0,0,0,.12);
    width: 27rem;
    max-height: calc(100vh - 4.5rem - 1rem);
  }
  
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
  }
  
  &__close {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    
    &:before {
      @extend %remove-exes;
      width: 100%;
      transform: rotate(45deg);
      background-color: $gray-400;
    }
    
    &:after {
      @extend %remove-exes;
      width: 100%;
      transform: rotate(135deg);
      background-color: $gray-400;
    }
  }
  
  &__form {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex-grow: 1;
  }
  
  &__well {
    padding: 0 1rem 1rem;
    overflow: auto;
    flex-grow: 1;
  }
  
  & svg {
    width: 10rem;
    height: 10rem;
    fill: $blue;
    margin-bottom: 1rem;
  }
  
  &__cutout {
    border: 0.125rem dashed #8c909b;
    position: relative;
    border-radius: 0.25rem;
  }
  
  &__label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 3rem 0;
    transition: all 0.2s ease;
    
    &:hover {
      background-color: $gray-100;
    }
    
    & input {
      display: none;
    }
    
    & .btn {
      background-color: $white;
    }
  }
  
  &__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  &__remove {
    width: 2rem;
    height: 2rem;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 100%;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    
    &:before {
      @extend %remove-exes;
      transform: rotate(45deg);
    }
    
    &:after {
      @extend %remove-exes;
      transform: rotate(135deg);
    }
    
    &:hover {
      background-color: rgba(0,0,0,0.75);
    }
  }
  
  &__foot {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $gray-400;
    padding: 0.5rem 1rem;
    
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  &__progress {
    margin-right: 2rem;
    width: 100%;
    border-radius: 0.25rem;
    background-color: $gray-100;
    height: 1rem;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
    margin-bottom: 0.5rem;
    
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
  
  &__progressbar {
    height: 100%;
    background-color: $green;
    border-radius: 0.25rem;
  }
}

.profile {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
  
  &__image {
    display: block;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.15);
  }
  
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    color: $black;
    
    @media(min-width: 768px) {
      margin-left: 3rem;
      margin-top: 0;
      width: 45%;
    }
  }
  
  &__name {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1;
    padding-bottom: 0.5rem;
    color: inherit;
  }
  
  &__bio {
    width: 100%;
    padding-top: 1rem;
    color: inherit;
  }
  
  &__location {
    margin-top: 1rem;
    height: 2rem;
    color: $gray-400;
    display: flex;
    align-items: center;
    
    & svg {
      margin-right: 0.5rem;
    }
  }
}